<!DOCTYPE html>
<html>
  <head>
      <title>Fragments test</title>
  </head>
    <body>
        <div th:fragment="layout1">
            <h1> layout 1</h1>
        </div>

        <div th:fragment="tabla">
            <table>
                <thead></thead>
                <tbody>
                <tr>
                    <th>Una</th>
                </tr>
                <tr>
                    <th>Tabla</th>
                </tr>
                <tr>
                    <th>de Ejemplo</th>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </body>
</html>
